# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Generated data
data/

# FAISS indexes
faiss_index/

# Logs
*.log